@import "main-var";

//navBar
.navbar{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  .navbar-nav{
    .nav-item{
      font-family: $montserrat;
      font-size: 15px;
      margin: 0 5px;
      font-weight: 700;
      .nav-link{
        color: #e7c8f9;
        transition: all ease .3s;
      }
      &.active{
        .nav-link{
          color: #ffffff;
        }
      }
      &:last-child{
        margin-bottom: 30px;
      }
      &:hover{
        .nav-link{
          color: #fff;
        }
      }
    }
  }
  .contacto{
    margin-bottom: 15px;
  }
  @media only screen and (min-width: 992px) {
    padding: 1rem 1.5rem;
    .navbar-nav{
      .nav-item{
        margin: 0 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      margin-right: 100px;
    }
    .contacto{
      margin-bottom: 0;
    }
  }
  @media only screen and (min-width: 1200px){
    padding: 1rem 5rem;
    .navbar-nav{
      .nav-item{
        font-size: 16px;
        margin: 0 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      margin-right: 60px;
    }
  }
}

//HEADER SECTIONS
section.heroSection{
  width: 100%;
  height: 100vh;
  @include gradient-sections;
  position: relative;
  overflow: hidden;
  @media only screen and (min-width: 1080px){
    height: 800px;
  }
}
.homeSlider{
  width: 90%;
  height: 50%;
  position: absolute;
  top: 121px;
  left: 0;
  right: 0;
  margin: 0 auto;
  .box-slider{
    width: 100%;
    height: 100%;
    .descripContent{
      padding: 20px;
      .title{
        font-size: 35px;
        font-weight: 700;
        color: $white;
        margin-bottom: 1.5rem;
      }
      .content{
        font-size: 15px;
        color:#dbc9ec;
      }
      .btn-large{
        position: relative;
        &::after{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top:60%;
          left:50%;
          background: rgb(142,45,226);
          background: linear-gradient(0deg, rgba(142,45,226,1) 0%, rgba(74,0,224,1) 100%);
          transform:translate(-50%, -50%);
          border-radius: 1.2rem;
          filter: blur(4px);
          z-index:-1;
          transition: all ease .3s
        }
      }
    }
  }
  
  @media only screen and (min-width: 800px){
    width: 70%;
    height: 50%;
    top: 10rem;
    left: 5rem;
    right: inherit;
    margin: inherit;
  }
  @media only screen and (min-width: 1080px){
    width: 600px;
    left: 8rem;
    .box-slider .descripContent{
      .title{
        margin-bottom: inherit;
      }
      .btn-large{
        margin-top: 20px;
      }
    }
  }
}
.owl-carousel{
  .owl-dots{
    
    .owl-dot{
      margin: 15px 0;
      span{
        width: 12px;
        height: 12px;
        background-color: $soft-lila;
      }
      &.active{
        span{
          background-color: #fff;
        }
      }
      &:hover span{
        background-color: #fff;
      }
      &:focus{
        border: none;
        outline: 0;
      }
    }
  }
  @media only screen and (min-width: 1080px){
    .owl-dots{
      margin-top: 10px;
    //background-color: darkred !important;
      position: absolute;
      top: 0;
      left: -4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.spaceSection{
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  //border: solid 1px greenyellow;
  opacity: .8;
  & >img{
    @include objetfit_img(cover, 70%, bottom)
  }
  @media only screen and (min-width: 600px){
    height: 70%;
  }
  @media only screen and (min-width: 800px){
    height: 90%;
  }
  @media only screen and (min-width: 1080px){
    height: 800px;
    opacity: 1;
    & >img{
      @include objetfit_img(contain, center, bottom)
    }
  }
  @media only screen and (min-width: 1400px){
    height: 100;
    bottom: -10%;
    & >img{
      @include objetfit_img(cover, center, bottom)
    }
  }
  .wave1{
    width: 100%;
    height: 401px;
    position: absolute;
    bottom: 0;
    //border: solid 1px red;
    background-image: url("/image/nave/onda-v1.png");
    background-size: cover;
    animation: animate1 30s linear infinite alternate;
    opacity: .5;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      //background-color: red;
      //opacity: .5;
      background-image: url("/image/nave/onda-v1.png");
      background-size: cover;
      opacity: .4;
      animation: animate2 15s linear infinite alternate;
    }
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      //background-color: red;
      //opacity: .5;
      background-image: url("/image/nave/onda-v1.png");
      background-size: cover;
      animation-delay: .8s;
      opacity: 1;
      animation: animate1 45s linear infinite reverse;
    }
  }
  @keyframes animate1 {
    0%{
      background-position: 0;
    }
    100%{
      background-position: 1300px;
    }
  }
  @keyframes animate2 {
    0%{
      background-position: 1300px;
    }
    100%{
      background-position: 0;
    }
  }
}

section.about{
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}