@import "main-var";

//navBar
.navbar{
  .navbar-transparent{
    background-color: $dark-lila;
  }
  .navbar-nav{
    .nav-item{
      font-family: $montserrat;
      font-size: 15px;
      margin: 0 10px;
      &.active{
        font-weight: 700;
      }
    }
  }
}